{
    "name": "empiriq/binance-contracts",
    "minimum-stability": "alpha",
    "prefer-stable": true,
    "description": "Framework designed for implementing your trading strategies",
    "keywords": ["empiriq-component", "binance", "binance-api", "binance-streams", "binance-websockets"],
    "type": "library",
    "license": "MIT",
    "authors": [
        {
            "name": "Mikhail Gerasimov",
            "email": "migerasimoff@gmail.com"
        }
    ],
    "require": {
        "php": ">=8.4"
    },
    "autoload": {
        "psr-4": { "Empiriq\\BinanceContracts\\": "" },
        "exclude-from-classmap": [ "/Tests/" ]
    }
}
