{
    "name": "empiriq/terminal-bundle",
    "minimum-stability": "alpha",
    "prefer-stable": true,
    "description": "Framework designed for implementing your trading strategies",
    "keywords": ["empiriq-bundle"],
    "type": "library",
    "license": "MIT",
    "authors": [
        {
            "name": "Mikhail Gerasimov",
            "email": "migerasimoff@gmail.com"
        }
    ],
    "require": {
        "php": ">=8.4",
        "ext-pcntl": "*",
        "symfony/console": "^7.3",
        "react/event-loop": "^1.5",
        "react/async": "^4.3",
        "react/stream": "^1.4",
        "plesk/stdio-react": "^2.6",
        "symfony/dependency-injection": "^7.3",
        "symfony/config": "^7.3",
        "symfony/http-kernel": "^7.3",
        "symfony/monolog-bundle": "^3.10",
        "symfony/framework-bundle": "^7.3"
    },
    "autoload": {
        "psr-4": { "Empiriq\\TerminalBundle\\": "" },
        "exclude-from-classmap": [ "/Tests/" ]
    }
}
