BINANCE_API_KEY=XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx
BINANCE_SIGNER_CLASS=Empiriq\BinanceTradeBundle\Common\Signers\HmacSigner
BINANCE_SIGNER_ARGUMENTS=["XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx"]
BINANCE_TRANSPORTS_FUTURES_USD_REST_API_URI=https://testnet.binancefuture.com
BINANCE_TRANSPORTS_FUTURES_USD_WEBSOCKET_API_URI=wss://testnet.binancefuture.com/ws-fapi/v1
BINANCE_TRANSPORTS_FUTURES_USD_WEBSOCKET_MARKET_STREAMS_URI=wss://fstream.binancefuture.com/ws
